@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #622d18;
$subColor: #98605e;
$keyColor: #d70035;
$fontColor: #fff;

/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

  //画像
  header {
  .top-icon {
    background-images:
    url("./images/img_top_choco.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    }
  }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor;
}

a {
  @include link-colors($keyColor, darken($keyColor, 10%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration: none;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}
/*------------------------------------------------------------*/

header {
  .site-title {
    font-size: 1.8rem;
    line-height: normal;
    span {
      display: block;
      font-size: 4.2rem;
      color: $keyColor;
    }
  }
  p {
    font-size: 1.6rem;
  }
}

/* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    @extend .abel;
    font-size: 3.2rem;
    @extend .uppercase;
  }
}

// Pinks
#pinks {
  background-color: $subColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);    // スキルボックスを縦に並べる
  }
  h2 {
    color: $fontColor;
    margin-bottom: 60px;
  }
  .pink-box {
    @include flex(1);
    margin: 10px 0;                     // 上下にマージン
    padding: 20px;
    background-color: $baseColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }
  
  h3 {
    @extend .abel;
    @extend .uppercase;
    color: $keyColor;
    margin-bottom:10px;
    font-size: 2.4rem;
    font-weight: bold;
  }
}

/*------------------------------------------------------------*/
// Contact
#contact {
  ul {
    text-align: center;
    margin-top: 30px;
    li {
      display: inline-block;
      font-size: 1.4rem;
      text-align: center;
      margin-right: 20px;
      @include box-sizing(border-box);
      vertical-align: top;
      &:last-child {
        margin-right: 0;
      }
    }

    a {
      display: block;
      width: 150px;
      height: 25px;
      color: #FFF;
      background-color: $keyColor;
      @include border-radius(5%);
    }
  }
}

/* Footer
------------------------------------------------------------*/
footer {
  background-color: $subColor;
  padding: 10px 0;
  text-align: center;
  color: #FFF;
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
// PC
@media (min-width: 769px) {
  
  //画像
  header {
  .top-icon {
    background-images:
    url("./images/img_top_choco.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  }

  // Pinks
  #pinks {
    .container {
      @include flex-direction(row);
      justify-content: space-between;
    }
    .pink-box {
      margin: 0 10px;
    }
  }

  // Contact
  #contact {
    ul {
      a {
        &:hover {
          background-color: darken($keyColor, 10%);
        }
      }
    }
  }
}

